@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  background-color: #003e5d;
  color: white;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-around;
}

.navbar ul li a:hover {
  transition: 0.3s;
  background-color: #00a0d1;
  border-radius: 10px;
  cursor: pointer;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.logo h1 a {
  text-decoration: none;
  color: white;
}

.logo img {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
    padding: 1.5rem 0;
  }

  .navbar ul {
    width: 100%;
    margin-top: 1rem;
    justify-content: space-around;
  }
}

@media screen and (max-width: 400px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin-top: 1rem;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  margin-left: 1rem;
  margin-top: 1rem;
}

.search input {
  width: 80%;
  height: 2.5rem;
  border: 1px solid #003e5d;
  border-radius: 5px;
  padding: 0 1rem;
}

.search button {
  width: 15%;
  margin-left: 1rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: #003e5d;
  color: white;
  cursor: pointer;
}

.search button:hover {
  transition: 0.3s;
  background-color: #00a0d1;
}

@media screen and (max-width: 550px) {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;
  }
  .search button {
    width: 80%;
    margin: 0.5rem 0;
  }
}

.card-container {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #003e5d;
  filter: opacity(0.9);
  color: white;
  padding: 1rem;
  margin: 1rem;
  width: 16.1rem;
  cursor: pointer;
  height: 24rem;
  justify-content: space-between;
}

.card:hover {
  filter: opacity(1);
  transition: 0.3s;
}

.price {
  display: flex;
  justify-content: space-between;
}

.load-more-data-button {
  width: 100%;
  height: 2.5rem;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #003e5d;
  color: white;
  cursor: pointer;
}

/* CSS For Error Page */

.error {
  display: flex;
  flex-direction: column;
  padding: 7rem 0 0 3rem;
  height: 100vh;
  color: #003e5d;
}

.error h1 {
  font-size: 3rem;
  font-weight: 600;
}

.error p {
  margin-top: 2rem;
  font-size: 1.5rem;
}

/* CSS For Shimmer Effect */

.shimmer__parent {
  display: flex;
  flex-wrap: wrap;
}

.shimmer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  width: 16.1rem;
  height: 24rem;
  justify-content: space-between;
}

.shimmer__image {
  width: 100%;
  height: 40%;
  background-color: lightblue;
}

.shimmer__title {
  width: 85%;
  height: 3rem;
  background-color: lightblue;
}

.shimmer__cuisines {
  width: 70%;
  height: 2.5rem;
  background-color: lightblue;
}

.shimmer__extras {
  display: flex;
  justify-content: space-between;
}

.shimmer__rating {
  width: 30%;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.shimmer__rating__number {
  width: 50%;
  height: 1.5rem;
  background-color: lightblue;
  margin-right: 5px;
}

.shimmer__price {
  width: 30%;
  height: 1.5rem;
  background-color: lightblue;
}

/* CSS For Restaurant Info Page */

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.restaurant-info {
  box-shadow: 0 0 10px #003e5d;
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem;
}

.info-container {
  display: flex;
}

.info-container .logo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
}

.additional-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location h1 {
  margin: 1rem 0 0.3rem 0;
}

.restaurant-info-cuisines {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.additional-info .ratings {
  margin-top: auto;
}

/* Restaurant Info Shimmer CSS */

.restaurant-info-shimmer {
  box-shadow: 0 0 10px #003e5d;
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem;
}

.info-container-shimmer {
  display: flex;
}

.logo-container-shimmer {
  width: 30%;
}

.logo-shimmer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
  background-color: lightblue;
}

.additional-info-shimmer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location-shimmer {
  height: 2rem;
  width: 30%;
  margin-bottom: 0.5rem;
  background-color: lightblue;
}

.open-status-shimmer {
  height: 2rem;
  width: 5%;
  background-color: lightblue;
}

.restaurant-info-cuisines-shimmer {
  height: 2rem;
  margin: 1rem 0;
  width: 50%;
  background-color: lightblue;
}

.delivery-and-cost-shimmer {
  margin-bottom: 1rem;
}

.cost-for-two-shimmer {
  height: 2rem;
  width: 40%;
  margin-right: 1rem;
  background-color: lightblue;
}

.delivery-time-shimmer {
  height: 2rem;
  width: 30%;
  background-color: lightblue;
}

.ratings-shimmer {
  margin-top: auto;
}

.restaurant-info-rating-shimmer {
  height: 2rem;
  width: 40%;
  margin-right: 1rem;
  background-color: lightblue;
}

.total-ratings-shimmer {
  height: 2rem;
  width: 30%;
  background-color: lightblue;
}

/* Menu CSS */

.menu-title {
  font-size: 2rem;
  margin: 2rem;
}

.menuItem {
  background-color: #fff;
  color: #003e5d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 2rem;
}

.menuItemName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.menuItemCategory {
  font-size: 18px;
  margin-bottom: 10px;
}

.menuItemDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuItemPrice {
  font-size: 20px;
  font-weight: bold;
}

.menuItemVeg {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3ca372;
  margin-left: 10px;
}

.menuItemRating {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.menu-name-rating {
  display: flex;
  justify-content: space-between;
}

/* Login Page */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form-container {
  width: 40%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-container h1 {
  text-align: center;
}

.login-form label {
  font-size: 1rem;
  margin: 0.8rem 0 0.4rem 0;
}

.login-form input {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #003e5d;
}

.login-form input:hover {
  border: 1px solid #003e5d;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-form input::placeholder {
  color: #003e5d;
}

.formik-error {
  color: red;
  font-size: 0.8rem;
  margin: 0.3rem 0;
  float: right;
}

.login-form button {
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #003e5d;
  background-color: #003e5d;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
